.quiz-container {
    background-color:burlywood;
    border-radius: 10px;
    box-shadow:0 0 10px 2px rgba(90,50,100,0.3);
    width:600px;
    overflow: hidden;
    }
    .quiz-header{
    padding: 3rem;
    font-size:13px;
    }
    button{
        width: 100%;
        padding: 1.3rem;
        display: block;
        border: none;
        cursor: pointer;
        margin-top:73px;
        background-color: darkgray;
        position: relative;
        font-size:1.1rem;
      }
      button:focus{
        outline: none;
        background-color:gray;
      }
      button:hover{
        background-color: darkgray;
      }
      ul li{
        display: inline;
        padding: 10px;
        font-size:9px;
        font-weight:bold;
        padding:0px;
      }
      footer{
        margin-bottom:0px;
        padding-bottom: 180px;
        justify-content: center;
        left: 40px;
  
      }
      #foot{
    justify-content: center;
    text-align: center;
    padding-bottom: 300px;
      }
      span{
        font-size:9px;
        font-weight: 900px;
      }
@media (min-width:280px){
footer{
    padding-top: 0px;
    padding-inline-start: 2px;
    margin-bottom: 900px;
    padding-left: 29px;
    padding-right: 30px;
    font-size: 13px;
    position: absolute;
    top: 550px;
    bottom: 0px;
}
}
@media(min-width:390px){
    #foot{
        padding-top: 130px;
        padding-inline-start: 2px;
        margin-bottom: 90px;
        padding-right: 13px;
        font-size: 13px;
        top: 22px;
        bottom: 0px;
        height:80px;
        width:350px;
        margin-left: 0px;
        text-align: center;
        margin-top: 600px;
        position: absolute;
    }
}
@media(min-width:768px){
  #foot{
        margin-bottom: 600px;
        margin-top: 45px;
        bottom: 400px;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 1500px;
        font-size: 20px;
        left: 104px;
        position:absolute;
        top: 90px;
        width: auto;
        height: fit-content;
        
  }
    span{
      font-size:20px;
    }

}

@media(min-width:1024){
    #foot{
      background-color: aquamarine;
    }
}
@media(min-width:540px){
  #foot{
    margin-top: 40px;
    top:550px;
    padding-bottom: 90px;
    padding-top: 40px;
    
    
  }
}
@media(min-width:912px){
  #foot{
    top: 1070px;
    padding-top:100px;
    padding-bottom:200px;
    font-size: 30px;
  }
  span{
    font-size: 30px;
  }
}
@media screen and (min-width:1024px){
#foot{  
padding-top:40px;
margin-top:10px;
bottom:px;
padding-bottom: 200px;
position: absolute;
left:260px;
top:400px;
}
}
@media screen and (min-width:1280px){
  #foot{  
  padding-top:100px;
  margin-top:500px;
  padding-bottom: 600px;
  position: absolute;
  left:300px;
  top:10px;
  
  }
  }
  
